/*CSS Document*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dynalight&family=Italianno&family=Merriweather+Sans:wght@300&family=Montserrat:wght@300;400&family=Open+Sans:wght@300&family=Poiret+One&family=Quicksand:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding:0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    font-size: 15px;
    border: none;
    outline: none;
    background-color: pink;
    color: white;
    cursor: pointer;
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
  }

.videoHomePage {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(8, 2, 29, 0.5), rgba(8, 2, 29, 0.5)); 
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar {
    position: fixed;
    padding: 13px 19px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(8, 2, 29, 0.4);
}

.navbar a {
    color: white;
    font-size: 19px;
    font-weight: lighter;
    text-decoration: none;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0px 25px;
    list-style: none;
}

.navbar .nav-links ul li.active a {
    color: pink;
}

.navbar .nav-links ul li:hover a {
    color: pink;
    transition-duration: 0.2s;
}

.navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 40px;
    cursor: pointer;
}

.logoImage {
    margin-top: 260px;
    padding-left: 80px;
    /*position: absolute;*/
    left: auto;
    text-align: left;
}

.logoImage h1 {
    font-family: 'Poiret One', cursive;
    font-weight: 100;
    font-size: 100px;
    color: rgb(255, 238, 241);
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.logoImage h2 {
    font-family: 'Dynalight', cursive;
    font-weight: 100;
    font-size: 50px;
    color: rgb(255, 238, 241);
    padding-top: 0px;
    margin-top: 0px;
}

.logoImage img {
    width: 250px;
    height: 250px;
    border: none;
}

.backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

main {
    padding-top: 40px;
    background-color: rgb(243, 243, 243);
    padding-bottom: 40px;
    border-bottom: 1px solid pink;
}

.contentHomePage1 {
    width: 100%;
    margin: 0;
}

.contentHomePage1 h1 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

.p2 .pOne .pTwo {
    font-size: 22px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px 20px 0px 20px;
}

.row .imgWrapper img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    transition: 0.3s;
    position: inherit;
}

.row .imgWrapper:hover img{
    transform: scale(1.10);
}

.row .contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left: 0px;
}

.row .contentWrapper p{
    font-size: 21px;
}

h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.contentHomePage2 {
    width: 100%;
    background-color: rgb(255, 204, 213);
    margin: 50px 0px 50px 0px;
    padding:  30px 20px 40px 20px;
}

.contentHomePage2 p {
    font-size: 22px;
}

.contentHomePage1 h2 {
    display: inline-block;
}

/*new*/
.triTacke{
    margin: 0px 0px 100px 0px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.triTackeContent{
    width: 50%;
    margin-left: 20px;
}
.triTackeContent p{
    font-size: 21px;
}

.triTackeContent h2 {
    font-size: 30px;
    padding-bottom: 30px;
}

.triTackeContent a{
    text-decoration: underline 1px solid black;
    color: black;
}

.triTackeContent a:hover{
    color: pink;
    text-decoration: underline 1px solid pink;
}

.triTackeContent a:visited{
    text-decoration: underline 1px solid black;
    color: black;
}

.triTackeSlider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

#radio6:checked ~ .first{
    margin-left: -100%;
}

div.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 100px 0px;
}

iframe {
    width: 70%;
    height: 60vh;
    margin: 15px;
}

footer {
    margin: 0;
    background-color: white;
    height: auto;
    padding-top: 20px;
    padding-right: 20px;
}

footer img {
    padding-top: 20px;
    width: 200px;
    height: auto;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.icon {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 100%;
    text-decoration: none;
    text-align: center;
}

.icon a {
    margin: 10px;
}

.icon i {
    color: black;
    size: 100px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.icon a i:hover{
    color: pink;
    transition-duration: 0.2s;
}

.pContact {
    text-align: center;
    font-size: 17px;
    margin: 2px;
}

.linkContact {
    text-decoration: none;
    color: black;
}

.linkContact:hover {
    color: pink;
    transition-duration: 0.2s;
}

.bl {
    border-bottom: 1px solid black;
    width: 40%;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.p3 {
    color: black;
    float: left;
    font-size: 15px;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.p4 {
    color: black;
    float: right;
    font-size: 15px;
    padding-right: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.p5 {
    color: black;
    text-align: center;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*about-page*/

.headerAboutUs {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../images/img_cover_o_nama1-min.jpg') ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row .nasaPrica {
    width: 100%;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left: 0px;
}

.row .nasaPrica h1{
    font-size: 32px;
    text-align: center;
    margin-bottom: 0px;
}

.row .nasaPrica p {
    font-size: 22px;
    margin-bottom: 10px;
}

.row .nasaPrica a{
    text-decoration: underline 1px;
    color: black;
}

.row .nasaPrica a:hover{
    color: pink;
}

.row .nasaPrica ul {
    list-style-type: circle;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}

/*gallery-page*/

.headerGallery {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../images/img_cover_galerija1-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.naslovGal h1{
    font-size: 33px;
    text-align: center;
}

.img-gallery {
    width: 80%;
    margin: 30px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.img-gallery img {
    width: 100%;
    cursor: pointer;
}

.img-gallery img:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.full-img img{
    max-width: 700px;
    height: auto;
}

.full-img span{
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.full-img .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.full-img .slide.prev {
    left: 25%;
}

.full-img .slide.next {
    right: 5%;
}

/*videos-page*/

.headerVideos {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../images/img_cover_video1-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.videoContent {
    text-align: center;
    padding: 10px 15px;
    font-size: 23px;
    text-decoration: overline pink;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.frameVideo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 0px;
    padding-bottom: 40px;
}

.frameVideo iframe {
    width: 70%;
}

.cabezaVideoPage{
    width: 100%;
    height: 45vh;
}

.p2 a{
    text-decoration: underline 1px;
    color: black;
}

.pOne a{
    text-decoration: underline 1px;
    color: black;
}

.pTwo a{
    text-decoration: underline 1px;
    color: black;
}

.p2 a:hover{
    color: pink;
}

.pOne a:hover{
    color: pink;
}

.pTwo a:hover{
    color:  rgb(243, 243, 243);
}

.p2 a:visited{
    text-decoration: underline 1px;
    color: black;
}

.pOne a:visited{
    text-decoration: underline 1px;
    color: black;
}

.pTwo a:visited{
    text-decoration: underline 1px;
    color: black;
}

.contentCabeza {
    width: 100%;
    margin: 100px 0px 100px 0px;
}

.contentCabeza .content{
    border-top: 2px solid pink;
}

.rowCabeza {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px 20px 0px 50px;
}

.rowCabeza .contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    padding-left: 10px;
}

.rowCabeza .contentWrapper p{
    font-size: 21px;
}

.frameVideoPage{
    width: 100%;
    height: auto;
} 

/*repertoire-page*/

.headerRepetoire {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../images/img_cover_repertoar1-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerList{
    margin-top: 40px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 60px;    
}

.buttons{
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin: 10px;;
}

#show1 {
    width: 300px;
    text-align: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    border: 1px solid pink;
    font-size: 22px;
    background-color: pink;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#show2, #show3 {
    width: 300px;
    text-align: center;
    justify-content: center;
    padding: 20px 10px 20px 10px;
    border: 1px solid pink;
    font-size: 22px;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#show1:hover{
    cursor: pointer;
    transition-duration: 0.4s;
}

#show2:hover{
    cursor: pointer;
    transition-duration: 0.4s;
}

#show3:hover{
    cursor: pointer;
    transition-duration: 0.4s;
}

#list1 {
    display: block;
}

#list2, #list3 {
    display: none;
}

#list1, #list2, #list3 {
    font-size: 20px;
}

#list1, #list2, #list3, ul{
    list-style-type: circle;
}

.containerList h2 {
    font-size: 23px;
    margin-bottom: 0;
    text-align: left;
}

/*contact-page*/

.headerContact {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    background-image: url('../images/img_cover_kontakt1-min.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.naslovGal p{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;

}

.containerKontakt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px; 
    margin-top: 40px;
    margin-bottom: 100px;
}

.leftKontakt {
    margin-left: auto;
    margin-right: auto;
}

.rightKontakt{
    margin-left: auto;
    margin-right: auto;
}

.rightKontakt h3{
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
}

.rightKontakt .iconKontakt {
    min-width: 80px;
    display: table-cell;
    justify-content: center;
    text-align: center;
    height: 80px;
    font-size: 40px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid pink;
}

.iconKontakt:hover{
    color: pink;
    transition-duration: 0.2s;
}

.boxInfo {
    padding: 20px 0px;
    display: flex;
}

.boxInfo .iconInfo {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid pink;
    border-radius: 50%;
    font-size: 24px;
}

.boxInfo .text {
    display: flex;
    margin-left: 20px;
    font-size: 21px;
    flex-direction: column;
    font-weight: 300;
}

.boxInfo .text h3 {
    font-weight: 500;
    margin-bottom: 4px;
}

.boxInfo .text p {
    padding-top: 0px;
    padding-left: 0px;
    margin: 0px;
}

/** MOBILE  [responsive -> media queries]**/

/*home-page, navbar*/

@media screen and (max-width: 900px){

    .videoHomePage {
        width: 100%;
        height: 100vh;
        position: relative;
        padding: 0;
        margin: 0;
        display: flex;
        background-image: url('../images/img_cover_kontakt1-min.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .backgroundVideo {
    display: none;
    }

    .navbar {
        margin: 0;
        padding: 50px;
        background-color: unset;
    }

    .navbar .logo {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .navbar .menu-hamburger {
        display: block;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
    }

    .nav-links{
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(44, 34, 78, 0.5);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        transition: all 0.4s ease;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0px;
        list-style: none;
        font-size: 1.6em;
    }

    .logoImage h1 {
        display: none;
    }

    .logoImage h2 {
        display: none;
    }

    .logoImage img {
        display: none;
    }

    .row {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "imgWrapper"
        "contentWrapper";
    }

    .contentHomePage1 {
        width: 100%;
        padding:  30px 0px 40px 0px;
    }
    .contentHomePage1 h1 {
        font-size: 30px;
    }

    .contentHomePage2 {
        width: 100%;
    }

    .p2 .pOne .pTwo {
        font-size: 20px;
        text-align: left;
    }

    /*footer*/

    .p3{
        float: none;
        text-align: center;
        justify-content: center;
    }

    .p4 {
        float: none;
        text-align: center;
        justify-content: center;
    }

    

    /*repetoire-page*/

    .containerList {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "buttons"
        "list1"
        "list2"
        "list3";
    }
    
    .buttons {
        margin-left: auto;
        margin-right: auto;
    }
    
    #list1, #list2, #list3 {
         margin-left: auto;
         margin-right: auto;
            
    }

    /*contact-page*/

    .naslovGal p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 18px;
    }
    
    .containerKontakt {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "rightKontakt"
        "leftKontakt";
    }
        
    .rightKontakt {
        margin-top: 30px;
    }
    
    .rightKontakt h3{
         font-size: 22px;
    }

    /*gallery-page*/

    .img-gallery img:hover{
        transform: none;
    }

    .full-img .slide.prev {
        left: 10%;
    }
    
    .full-img .slide.next {
        right: 0%;
    }
}

@media screen and (max-width: 600px){
    
    #list1, #list2, #list3 {
        font-size: 18px;
    }

    #show1, #show2, #show3 {
        padding: 18px;
        font-size: 20px;
    }

    footer img {
        width: 50%;
        height: auto;
    }

    .headerAboutUs, .headerGallery, .headerVideos, .headerRepetoire, .headerContact {
        width: 100%;
        height: 45vh;
        
    }

    .videoHomePage {
        width: 100%;
        height: 45vh;
    }

    /*gallery-page*/

    .full-img img{
        max-width: 400px;
        height: auto;
    }
}

/*videos-page*/

@media screen and (max-width: 1024px){

    .rowCabeza {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
        "cabezaVideoPage"
        "contentWrapper";
        margin: 0px;
    }

    .contentCabeza{
        border-top: 1px solid pink;
        padding-top: 10px;
    }

    .contentCabeza .content{
        border-top: none;
        text-align: center;
        margin: 0px;
    }

    .contentCabeza .content .p2{
        text-align: center;
        padding: 0px 5px 0px 5px;
    }

    .videoContent {
        text-decoration: none;
        border-top: 1px solid pink;
        
        margin-top: 30px;
    }
    /*new*/
    .triTacke{
        flex-direction: column;
        padding: 0px;
    }

    .triTackeSlider{
        width: 100%;
        height: auto;
        border-radius: 0px;
        margin-right: 0px;
    }
   
    .triTackeContent{
        width: 100%;
        margin-top: 15px;
        margin-left: 0px;
        padding: 0px 20px 0px 20px;
    }
}
@media screen and (max-width: 380px){

    /*gallery-page*/

    .full-img img{
        max-width: 250px;
        height: auto;
    }
}







/*
.navigation-manual{
    width: 500px;
    margin-top: 70px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background-color: white;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 470px;
    padding-right: 20px;
}

.navigation-auto div{
    border: 3px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: white;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: white;
}*/